html {
    font-size: 62.5%;
  }
  * {
    box-sizing: border-box;
  }
  
  /* all general part for the page */
  body {
    margin: 0%;
    background-color: whitesmoke;
  }
header {
    background-color: #191b1a;
    width: 100%;
  }
  nav a {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: whitesmoke;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0% 2% ;
  }

  .navbar #ExLinks {
    
    margin: 40px 20px;
  }
  .navbar #ExLinks a:hover  { 
    color: #FE9C00;

  }
  .navbar #menu {
    display: none;
  }
  .navbar a.icon {
    background: #191b1a;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3% 5%;
    margin: 50px 15px;
    
  }
