html {
    font-size: 62.5%;
  }
  
  body {
    margin: 0%;
  }
    header {
        background-color: #191b1a;
        overflow: hidden;
        width: 100%;
        height: max-content;
        position: relative;
      }
.navbar {
    background-color: #191b1a;
    position: relative;
  }
  
  .navbar #myLinks {
    display: none;
  }
  
  .navbar a {
    padding: 3%;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
  }
  
  .navbar a.icon {
    background: #191b1a;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3% 5%;
  margin: 53px 15px;
  }
  
  .navbar a:hover{background-color: #FE9C00;
    color: black;} 
  .navbar a:active {
    background-color: #FE9C00;
    color: black;
  }

  