html {
    font-size: 62.5%;
  }
  * {
    box-sizing: border-box;
  }
  header,
  main, footer{width: 85%;
    margin: 0 auto;}
  
  /* all general part for the page */
h1, h2, h3, summary {font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #191b1a;
  }

  h1{font-size: 3.5rem;}

h2{font-size: 2.8rem;}

  h3 {font-size: 2rem;}

  summary{font-size: 2rem;
  text-decoration: underline;
  color: #191b1a;}
  
  p, a, div{font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.6rem;
  color: #191b1a;}
  a{font-weight: 600;}
  a:hover { color: #FE9C00;}
  
  ul, ol{font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;}
    ul a:hover { color: #FE9C00;}

  body {
    margin: 0%;
    background-color: whitesmoke;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .codepenDiv{
    overflow-y: scroll;
  }
  button {
    border: none;
  border-radius: 5px;
    padding: 10px 20px;
    margin-right: 20px;
    color:#191b1a;
    background-color: #FE9C00;
  }
  button:hover{background-color: #191b1a;
    color: #FE9C00;
  }
  button:active {
    background-color: #191b1a;
    color: #FE9C00;
  }
 
  /* Heading of all pages */
  header {
    background-color: #191b1a;
    overflow: hidden;
    width: 100%;
    height: max-content;
    position: relative;
  }
  .navbar {
    background-color: #191b1a;
    position: relative;
  }
  .navbar a {
    padding: 9px;
    display: block;
    color: whitesmoke;
  }
  .navbar #menuExLink a:hover  { 
    color: #FE9C00;

  }
  .navbar #menu, #ExLink, #menuLogo {
    display: none;
  }
  #menu p{color: #FE9C00;
    margin-left: 10px;
    font-weight: 600;
    font-size: 2rem;
  }
  .navbar a.icon {
    background: #191b1a;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    margin: 45px 15px;
    
  }
  .navbar a:hover{background-color: #FE9C00;
  color: black;} 
.navbar a:active {
  background-color: #FE9C00;
  color: black;
}
/* Home page */
.home-vision-maindiv{display: flex;
  flex-direction: column;}
  .home-vision-div1{order: 0;}
  .home-vision-div2{
    position: relative;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  margin: 4% 0%;
  height: 0;
  order: 1;
  }
  .home-vision-video {
      background-color: #191b1a;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0px;
    }
  /* color page */
  .color-first{padding: 10px 40px; background-color: #191b1a;}
  .color-first p{color: white;}
  .color-second{padding: 10px 40px; background-color: whitesmoke;}
  .color-second p{ color: black;}
  .color-third{padding: 10px 40px; background-color: #FE9C00;}
  .color-third p{ color: black;}
  /* list page */
  .codepenDiv ul{
    list-style-type: none;
    
  }
  .codepenDiv a{
    text-decoration: none;
    color: black;
  }
  /* tooltip page */
  .fa-info-circle {
    position: relative;
  }
  
  .fa-info-circle .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #191b1a;
    color: whitesmoke;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    
    /* Position the tooltip */
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .fa-info-circle:hover .tooltiptext {
    visibility: visible;
  }
  /* nav page */
  .navbar1 {
    background-color: #191b1a;
    position: relative;
    width : 100%;
  }
  
  .navbar1 #myLinks1 {
    display: none;
  }
  
  .navbar1 a {
    padding: 3%;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
  }
  
  .navbar1 a.icon {
    background: #191b1a;
    display: block;
    position: absolute;
    right: 0%;
    top: 0%;
    padding: 3% 5%;
  margin: 50px 15px;
    
  }
  
  .navbar1 a:hover{background-color: #FE9C00;
    color: black;} 
  .navbar1 a:active {
    background-color: #FE9C00;
    color: black;
  }
/* desktop version */
  .navbar2 {
    background-color: #191b1a;
    position: relative;
    width : 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
  }
  .navbar2 #myLinks2 {
    display: flex;
    margin: 50px 18px;
  }
  .navbar2 a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px 20px;
    display: inline;
  }
  .navbar2 a:hover{background-color: #FE9C00;
    color: black;} 
  .navbar2 a:active {
    background-color: #FE9C00;
    color: black;
  }
  /* sub menu example */
  .nav-btn {
    background-color: #191b1a;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 0%;
  }
  .nav-dropdown {
    position: relative;
    display: inline-block;
  }
  .nav-btn-link {
    display: none;
    position: absolute;
    background-color: #191b1a;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nav-btn-link a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .nav-btn-link a:hover {
    background-color: whitesmoke;
    color: #191b1a;
  }
  
  .nav-dropdown:hover .nav-btn-link {display: block;}
  
  .nav-dropdown:hover .nav-btn {background-color: #FE9C00;
    color: #191b1a;
  }
  /* button example */
  .nav-button {
    background-color: #FE9C00;
    color: #191b1a;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    margin:24px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .nav-button:hover{background-color: #191b1a;
    color: #FE9C00;
  }
  .nav-button:active {
    background-color: #191b1a;
    color: #FE9C00;
  }
  /* breadcrumb example */
  .nav-breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #191b1a;
  }
  .nav-breadcrumb a {
    display: inline;
    font-size: 18px;
  }
  .nav-breadcrumb a+a:before {
    padding: 8px;
    color: whitesmoke;
    content: "/\00a0";
  }
  .nav-breadcrumb a {
    color: whitesmoke;
    text-decoration: none;
  }
  .nav-breadcrumb a:hover {
    color: #FE9C00;
  }
  /* table page */
  #info {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  
  #info td, #info th {
    border: 1px solid #191b1a;
    padding: 8px;
    font-size: 16px;
  }
  
  #info tr:nth-child(even){background-color: #f2f2f2;}
  
  #info tr:hover {background-color: #191b1a;
  color: whitesmoke;}
  
  #info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FE9C00;
    color: whitesmoke;
  }
  /* form page */
  .nav-form-wrapper input[type="submit"] {
    color: #191b1a;
    background-color: #FE9C00;
    padding: 12px 20px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .nav-form-wrapper input[type="submit"]:hover {
    background-color: #191b1a;
    color: #FE9C00;
  }
  
  /* ===============
     STRUCTURE
     =============== */
  
  .nav-form-wrapper-button {
    display: flex;
    justify-content: space-between;
  } 
  .nav-form-wrapper input{
    display: flex;
    flex-direction: column;
  }
  .nav-form-wrapper input,
     .form-wrapper select,
     .form-wrapper textarea {
    font-size: 1.6rem;
  }
  
  .nav-form-wrapper input[type="text"],
  .nav-form-wrapper select,
  .nav-form-wrapper textarea {
    max-width: auto;
    width:100%;
    padding: 12px;
    border: 0px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .nav-form-wrapper textarea {
    font-family: sans-serif;
  }
  
  .nav-form-label-required {
    font-size: 1rem;
    color: #FE9C00;
  }
  .nav-form-label-optional {
    font-size: 1rem;
    color: whitesmoke;
  }
  .nav-form-wrapper h2 {
    color: whitesmoke;
  }
  .nav-form-wrapper label {
    color: whitesmoke;
  }
  .nav-form-wrapper {
      border-radius: 5px;
      background-color: #191b1a;
      max-width:max-content;
      padding: 20px;
      margin: 50px auto;
    }
  /* carousel page */
  .section-slideshow-wrapper {
    position: relative;
    overflow: hidden;
  }
  .slideshow-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .slideshow-slides{
    border: 5px solid #FE9C00;
  }
  .slideshow-slides>.slideshow-slides {
    position: absolute;
    transition: all 500ms ease-in-out;
  }
  /* spacing page */
  .spacingCards-card{
    margin: 10%;
    }
    .spacingCards-card .left{margin: 5%;}
    .spacingCards-card .center{margin: 5%;
      }
      .spacingCards-card .right{margin: 5%;
        }
  .padding{
    background-color: #FE9C00;
    color: whitesmoke;
  }
  .div-padding, .containers-padding{
    border: 16px solid #FE9C00;
    background-color: #191b1a;
    color: whitesmoke;
  }
  .images-padding{
    border: 12px solid #FE9C00;
    background-color: #191b1a;
    color: whitesmoke;
  }
  .buttons-padding{
    border-top: 12px solid #FE9C00;
    border-bottom: 12px solid #FE9C00;
    border-left: 24px solid #FE9C00;
    border-right: 24px solid #FE9C00;
    background-color: #191b1a;
    color: whitesmoke;}
.heading-padding, .peragraphs-padding, .hyperLinks-padding, .lists-padding{
    background-color: #191b1a;
    color: whitesmoke;
}
.margin{
  background-color: #191b1a;
  color: whitesmoke;
}
.containers-margin{
  border: 32px solid #191b1a;
    background-color: #FE9C00;
    color: whitesmoke;
}
.div-margin{
  border: 48px solid #191b1a;
    background-color: #FE9C00;
    color: whitesmoke;
}
.images-margin, .buttons-margin{
  border: 24px solid #191b1a;
    background-color: #FE9C00;
    color: whitesmoke;
}
.heading-margin, .peragraphs-margin, .hyperLinks-margin, .lists-margin{
  background-color: #FE9C00;
    color: whitesmoke;
}
/* image page */
.imagesCards-card{
  align-items: center;
  justify-content: space-between;
  }
  .imagesCards-card .center{
    text-align: center;
  }
.normal-image img{
  height: 300px; width: 300px; margin: auto; background-color: #191b1a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.carousel-image img{
  height: 168.75px; width: 300px; margin: auto; background-color: #191b1a;
  border: 5px solid #FE9C00;
  display: flex;
  justify-content: center;
  align-content: center;
}
.gallery-image img{
  height: 225px; width: 300px; margin: auto; background-color: #191b1a;
  display: flex;
  justify-content: center;
  align-content: center;
}
  /* card page */
  .firstcard {
    width: 100%;
  }
  .firstcard .allcards {
    display: flex;
      flex-direction: column;
      align-items: center;
      
  }
  .firstcard .allcards .image{background-color: #191b1a;
    color: whitesmoke;
    text-align: center;
    width:100%;
    height: 262.50px;}
  .firstcard .allcards .cards {
    box-sizing: border-box;
    width: 350px;
    max-width: fit-content;
    margin-bottom: 48px;
  }

  .secondcard {
    width: 100%;
    overflow-x: scroll;
  }
  .secondcard .allcards {
    display: flex;
    justify-content: space-between;
  width: min-content;
      
  }
  .secondcard .allcards .image{background-color: #191b1a;
    color: whitesmoke;
    text-align: center;
    width: 350px;
    height: 250px;}
  .secondcard .allcards .cards {
    box-sizing: border-box;
    width: 350px;
    margin-right: 30px;
  }
/* Footer of all pages */
footer {
  margin-top: 10%;
    clear: both;
    width: 100%;
    overflow: auto;
    background-color: #191b1a;
    text-align: center;
  }
  footer a {
    color: whitesmoke;
  }
  footer h3{color: whitesmoke;}
  .footer-row {
    margin: 0% 1%;
    color: whitesmoke;
    justify-content: space-between;
  }
  
  .footer-row-first-col-logo {
    margin: 30px 0px;
  }
  .footer-row-second-col-links, .footer-row-second-col-connect {
    margin: 50px 0px;
  }
  @media only screen and (min-width: 1024px) {
.topNav{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
    #topNavLogo {
        display: none;
      }
      .topNav  #ExLink {
        margin: 40px 0px;
        display: flex;
        justify-content: flex-end;
      }
      #menuExLink{
        display: none;
    }

    .sideNav{
        margin: 0;
      padding: 0;
        height: 100%;
        width: 240px;
        position: fixed;
        background-color: #191b1a;
        z-index: 1;
      top: 0;
      left: 0;
      }
      .sideNav #menu {
        display: flex;
        flex-direction: column;
      }
      #menu a {
        padding: 6px 8px 6px 16px;
        color: whitesmoke;
        display: block;
      }
      #menu a:hover {
        background-color: #FE9C00;
        color: #191b1a;
      }
     .sideNav a.icon {display: none;}
     .divLine{margin-left: 40px;}

/* Home page */
     nav, main{
        margin-left: 250px;
        margin-right: 50px;
        width: calc(100% - 300px);
     }

.home-vision-maindiv {
  display: flex;
  flex-direction: row;
  position: relative;
  object-fit: fill;
  justify-content: space-between;
  margin: 5% 0%;
}
.home-vision-div1 {
  order: 0;
}
.home-vision-div2 {
  order: 1;
  position: relative;
  padding-bottom: 0; /* 16:9 */
  height: fit-content;
  margin: 0;
}
.home-vision-video {
background-color: #191b1a;
position: relative;
width: 560px;
height: 315px;
}

.homeCards a{color: #191b1a;}
.homeCards-holder{ justify-content: space-around;
  display: flex;
  flex-direction: row;}
  .homeCards .homeCards-holder .homeCards-card{margin-left: 40px;flex-grow: 1;}

  /* typography page */

  .typefaceCards-card{display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 10%;
    }
    .typefaceCards-card .left{width: 50%;}
    .typefaceCards-card .center{
      width: 25%;}
      .typefaceCards-card .right{
        width: 25%;}
  .codepenDiv{margin-left: 40px;}
  /* Color page */

  .colorCards-card{display: flex;
    flex-direction: row;
  align-items: center;
  margin: auto 10%;}
  .colorCards-card .left{width: 50%;}
  .colorCards-card .center{width: 25%;}
  .colorCards-card .right{width: 25%;}
  
  /* spacing page */
  .spacingCards-card{display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto 10%;
    }
    .spacingCards-card .left{width: 25%;}
    .spacingCards-card .center{
      width: 25%; text-align: center;}
      .spacingCards-card .right{
        width: 25%; text-align: center;}
    /* images page */
    .imagesCards-card{display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: auto 10%;
      }
      .imagesCards-card .left{width: 25%;}
      .imagesCards-card .center{
        width: 75%; text-align: center;}
      


     footer {
      margin-top: 5%;
        margin-left: 160px;
    clear: both;
    width: calc(100% - 160px);
    overflow: auto;
    background-color: #191b1a;
     }
     
     .footer-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .footer-row-first-col-logo{
        flex-grow: 0;
      }
      .footer-row-second-col-links{
        flex-grow: 2;
      }
      .footer-row-second-col-connect{
        flex-grow: 2;
      }

  }